# OPERATORS

Operator is a symbol that performs certain operations

    *Python set of Operators*
    Arithmetic Operators
    Relation Operators or Comparision Operators
    Logical Operators 
    Bitwise Operators
    Assignment Operators
    Special Operators

## Arithmetic Operators:

In [1]:
10+34 #addition

44

In [2]:
10-34 #subtraction

-24

In [3]:
10*24 #multiplication

240

In [4]:
10%3 #remainder

1

In [5]:
10/3 #divison

3.3333333333333335

In [6]:
11//3 #floor divison

3

In [7]:
10**3 #power

1000

/ Operator always Perform Floating point arithmetic

But Floor division (//) can perform both floating and integral arithmetic, if atleast argument is float type then result is float type

We can use +,* operator for str type

## Relational Operators

In [8]:
10<20 # less than

True

In [9]:
10>20 # greater than

False

In [10]:
10<=10 # less than or equal to

True

In [11]:
20>=21 # greater than or equal to

False

*We can use Relation operators for str types also*

*Chaining of Relation Operators are also possible in Python*

In [12]:
10<20

True

In [13]:
10<20<30

True

In [14]:
10<20<30>21

True

In [15]:
10<20<40<30 #if one condition fails then whole expression is false

False

## Equality Operators

In [16]:
1==1 #Equal

True

In [17]:
1!=1 #Not Equal

False

In [18]:
10==True

False

In [19]:
1==True

True

In [20]:
False==""

False

In [21]:
# chaining also followed in equality operators same as relational operators

## Logical Operators

In [22]:
 10 and 20 #if x evaluates to false return x else return y

20

In [23]:
10 or 20 #if x evalutes to True return x else return y

10

In [24]:
not 1 #if x evaluates to false then result is true else false

False

Logical Operators work same as in boolean algebra for bool Datatype

## Bitwise Operators

These operators are applicable only for int and boolean Types

In [25]:
4&5 #valid

4

In [26]:
4.5&5.5 #not valid

TypeError: unsupported operand type(s) for &: 'float' and 'float'

## Shift Operators

In [27]:
12&6 #and

4

In [28]:
12|6 #or

14

In [29]:
12^6 #xor

10

In [30]:
~12 #compliment

-13

In [31]:
18>>2 #righr shift(divide by 2**2)

4

In [32]:
12<<3 #left shift(multiply by 2**3)

96

## Assignment Operators

In [33]:
x=10

In [34]:
x+=23 #x=x+23 
x

33

In [35]:
x-=23 #x=x-23
x

10

    +=,-=,*=,/=,%=,//=,**=,&=,|=,^=,>>=,<<=

## Ternary Operator

x=*firstvalue* if condition else *secondvalue*

In [36]:
a,b=23,45

In [37]:
max=a if a>b else b
max

45

*Program for finding max/min of Three No.s*

In [39]:
a,b,c=list(map(int,input().split(" ")))
max=a if a>b and a>c else b if b>c else c
max

10 34 23

34

## Special operators

**identity operator**

In [40]:
a=23
b=23
a is b #if both a and b are pointing to same object

True

In [41]:
li=list(range(5))
l2=list(range(5))
li is not l2 # if both li and l2 are not pointing to same object

True

In [42]:
print(li==l2) # for content comparison
print(li is l2) # for address comparison

True
False

**Membership Operator**

We use these operators to check whether the given object is present in the given collection or not

In [43]:
sgs3tv="shubham love his friends"

In [44]:
"friends" in sgs3tv

True

In [45]:
sg=["goals","money","fame","respect for others","friends","family"]

In [46]:
"OP" not in sg #hehehe

True

In [47]:
sg=sg[::-1] #Reverse List

In [48]:
sg

['family', 'friends', 'respect for others', 'fame', 'money', 'goals']

## Operator Precedence

    ()                  HIGHEST
    **                     :
    ~-                     :
    *,/,%,//               :
    +,-
    <<,>>
    &
    ^
    |
    >,>=,<,<=,==,!=
    =,+=,-=....>>=
    is,is not
    not                    :
    and                    :
    or                  LOWEST