# Tuple Data Structure

* Tuple is exactly same as list only difference is it is immutable
* if want our data is to be fixed (no changes alowed) then we should go for tuple
* insertion order is preserved
* Duplicates are allowed
* Heterogenous objects are allowed
* Index plays a important role in tuple also
* we create tuple with parenthesis with comma as seperator

In [1]:
t=(1,2,3)
type(t)

tuple

In [2]:
t=(1) # wrong method of defining tuple with one element
type(t)

int

In [3]:
t=(1,) # right method of defining tuple with one element
type(t)

tuple

## Tuple Creation

### 1. t=()

creation of empty tuple

### 2. t=(10,)

creation of tuple with one element

### 3. t=10,20,30

In [4]:
t=10,20,30
t

(10, 20, 30)

creation of multi-valued tuple parenthesis are optional

### 4. By using tuple() function

In [5]:
li=[10,11,12]
st="computer"
print(tuple(li))
print(tuple(st))

(10, 11, 12)
('c', 'o', 'm', 'p', 'u', 't', 'e', 'r')

## Accessing elements of tuple:

### 1. By using index:

In [6]:
t=10,20,30,40,50
print(t[3])
print(t[-1])
print(t[20])
#error tuple index out of range error

40
50

IndexError: tuple index out of range

### 2. By using slice operator:

In [7]:
print(t[1:4])
print(t[-1:-5:-1])
print(t[::2])

(20, 30, 40)
(50, 40, 30, 20)
(10, 30, 50)

## Tuple vs Immutablity

Once we creates tuple , we cannot change its content

Hence tuple are immutable

In [8]:
t[2]=70 
#error 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

## Mathematical operators for tuple

### 1. Concatenation

In [9]:
t1=tuple(range(5))
t2=tuple("hardwork")
print(t1+t2)

(0, 1, 2, 3, 4, 'h', 'a', 'r', 'd', 'w', 'o', 'r', 'k')

### 2. Repetition

In [10]:
t1=(10,20,30)
print(t1*3)
print((t1*3)[::3])

(10, 20, 30, 10, 20, 30, 10, 20, 30)
(10, 10, 10)

## Important Functions

### 1. len()

To return number of elements present in the tuple

In [11]:
t=(2,3,4,"sg")
len(t)

4

### 2. count()

To return number of occurences of given element in the tuple

In [12]:
t=(10,20,30)*5
print(t)
print(t.count(10))

(10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30)
5

### 3. index()

returns index of the first occurrences of given element in the tuple

if the specified element is not available then we will get ValueError

In [13]:
t=tuple(range(5))
print(t.index(0))
print(t.index(5))
#error ValueError: tuple.index(x): x not in tuple

0

ValueError: tuple.index(x): x not in tuple

### 4. sorted()

To sort elements based on default natural sorting order

In [14]:
t=(10,20,90,70,43)
print(t)
print(sorted(t))
print(sorted(t,reverse=True))

(10, 20, 90, 70, 43)
[10, 20, 43, 70, 90]
[90, 70, 43, 20, 10]

### 5. min() and max()

These function return minm element and maxm element accordingly

In [15]:
t=tuple(range(10))
print(t)
print(min(t))
print(max(t))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
0
9

## Tuple Packing and Unpacking

In [16]:
t=10,20,30,40 # tuple packing
print(t)

(10, 20, 30, 40)

In [17]:
a,b,c,d=t # tuple unpacking
print(a,b,c,d,sep="  ")

10  20  30  40

**Note:-** At the time of tuple unpacking the number of variable must be equal to the values present in the tuple

## Tuple Comprehension

Tuple comprehension is not supported by python

In [18]:
t= (x**3 for x in range(1,11))
print(type(t))
print(t)
for i in t:
    print(i,end=" ")

<class 'generator'>
<generator object <genexpr> at 0x0000026316EB68C8>
1 8 27 64 125 216 343 512 729 1000

## Differences between list and tuple

**list**:- list is a group of comma seperated values within square brackets(mandatory)

**tuple**:- tuple is a group of comma seperated values within parenthesis(optional)

**list**:- list are mutable

**tuple**:- tuple are immutable

**list**:- list cannot be used as keys for a dictionary because keys need to be immutable and hashable

**tuple**:- tuple can be used as keys for a dictionary